# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle all gems info'
      'command': 'gem-wiseguy:toggle-all'
    },
    {
      'label': 'Toggle gem info at cursor'
      'command': 'gem-wiseguy:toggle-at-cursor'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'gem-wiseguy'
      'submenu': [
        {
          'label': 'Toggle all gems info'
          'command': 'gem-wiseguy:toggle-all'
        },
        {
          'label': 'Toggle gem info at cursor'
          'command': 'gem-wiseguy:toggle-at-cursor'
        }
      ]
    ]
  }
]
